html, body, #USA, #World {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 100%;
}

.esri-attribution__sources, .esri-interactive, .esri-attribution__powered-by{
    display: none;
}  

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4CAF50;
}
